.box {
    -webkit-clip-path:polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
    clip-path:polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
    width:200px;
    height:200px;
    background-color:  #2cb539;
   }
   .banner{
    background-color:  #2cb539;
    height: 300px;
    width:auto;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding-top: 70px;
    padding-left: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}
.div_flex{
    display: flex;
    margin: 30px 50px 30px 50px;
    align-items: center;
    justify-content: space-between;
}

.div_flex_row{
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.mycol{
    position: relative;
    width: 100%;

}
.heading{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.roundimg{
    border-radius: 50%;
    width: 170px;
    height: 170px;
}
.searchbar{
    width: 500px;
    display: inline-block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    vertical-align: middle;
}
.icon{
    margin-right: 10rem!important;
    margin-top: 5rem!important;
}